
		
			<details open class="feet_show mt-0">
				<summary class="h4 feet_show"><span>Хиты</span></summary>
				<div class="content">
					<p class="class_stats">
						<b>Кость Хитов:</b> <dice-roller formula="1к8"></dice-roller> за каждый уровень
					</p>
					<p class="class_stats">
						<b>Хиты на 1 уровне:</b> <span>8</span> + ваш модификатор <strong>Телосложения</strong>
					</p>
					<p class="class_stats">
						<b>Хиты на следующих уровнях:</b> <dice-roller formula="1к8"></dice-roller> (или 5) + модификатор <strong>Телосложения</strong>  за каждый уровень этого класса, после
						первого (минимум 1)
					</p>
				</div>
			</details>
		

		<div class="table-responsive class" >
			<table class="dnd5_table">
				<thead>
					<tr align="center">
						<th rowspan="2" style="width: 24px"><span class="tip" v-tippy="'Уровень в классе'">Ур.</span></th>
						<th rowspan="2" style="width: 24px"><span class="tip" v-tippy="'Бонус мастерства'">БМ</span></th>
						<th rowspan="2" class="align_left">Умения</th>
						
						
					</tr>
					
				</thead>
				<tbody>
					<tr align="center">
						<td align="center" >1</td>
						<td align="center" >+2</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/351"
              >
                <a
                  class="tip_scroll"
                  href="#c351"
                >бонусные владения, </a>
              </detail-tooltip>

              
							
              <detail-tooltip
                url="/classes/feature/352"
              >
                <a
                  class="tip_scroll"
                  href="#c352"
                >полезность</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >2</td>
						<td align="center" >+2</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/353"
              >
                <a
                  class="tip_scroll"
                  href="#c353"
                >хитрое действие</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >3</td>
						<td align="center" >+2</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/362"
              >
                <a
                  class="tip_scroll"
                  href="#c362"
                >компетентность (2 навыка)</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >4</td>
						<td align="center" >+2</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/364"
              >
                <a
                  class="tip_scroll"
                  href="#c364"
                >увеличение характеристик</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >5</td>
						<td align="center" >+3</td>
						<td class="align_left"></td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >6</td>
						<td align="center" >+3</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/371"
              >
                <a
                  class="tip_scroll"
                  href="#c371"
                >скоординированный удар</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >7</td>
						<td align="center" >+3</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/372"
              >
                <a
                  class="tip_scroll"
                  href="#c372"
                >увёртливость</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >8</td>
						<td align="center" >+3</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/365"
              >
                <a
                  class="tip_scroll"
                  href="#c364"
                >увеличение характеристик</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >9</td>
						<td align="center" >+4</td>
						<td class="align_left"></td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >10</td>
						<td align="center" >+4</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/366"
              >
                <a
                  class="tip_scroll"
                  href="#c364"
                >увеличение характеристик</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >11</td>
						<td align="center" >+4</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/373"
              >
                <a
                  class="tip_scroll"
                  href="#c373"
                >вдохновляющая помощь (1к6)</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >12</td>
						<td align="center" >+4</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/367"
              >
                <a
                  class="tip_scroll"
                  href="#c364"
                >увеличение характеристик</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >13</td>
						<td align="center" >+5</td>
						<td class="align_left"></td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >14</td>
						<td align="center" >+5</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/375"
              >
                <a
                  class="tip_scroll"
                  href="#c375"
                >надёжный талант</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >15</td>
						<td align="center" >+5</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/363"
              >
                <a
                  class="tip_scroll"
                  href="#c363"
                >компетентность (2 навыка)</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >16</td>
						<td align="center" >+5</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/368"
              >
                <a
                  class="tip_scroll"
                  href="#c364"
                >увеличение характеристик</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >17</td>
						<td align="center" >+6</td>
						<td class="align_left"></td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >18</td>
						<td align="center" >+6</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/376"
              >
                <a
                  class="tip_scroll"
                  href="#c376"
                >острый ум</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >19</td>
						<td align="center" >+6</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/369"
              >
                <a
                  class="tip_scroll"
                  href="#c364"
                >увеличение характеристик</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >20</td>
						<td align="center" >+6</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/374"
              >
                <a
                  class="tip_scroll"
                  href="#c373"
                >вдохновляющая помощь (2к6)</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
				</tbody>
			</table>
		</div>

		
			<details open>
				<summary class="h4"><span>Владение</span></summary>
				<div class="content">
					<p class="class_stats">
						<b>Доспехи:</b> <span>Лёгкие доспехи</span>
					</p>
					<p class="class_stats">
						<b>Оружие:</b> <span>Простое оружие, если гуманоид</span>
					</p>
					<p class="class_stats">
						<b>Инструменты:</b> <span>Если эксперт является гуманоидом либо имеет простое или воинское оружие в своём блоке статистики, он также получает владение всеми простыми видами оружия и двумя инструментами по вашему выбору.</span>
					</p>
					<p class="class_stats">
						<b>Спаcброски:</b> <span>Напарник получает владение одним из следующих спасбросков по вашему выбору: Интеллект, Ловкость или Харизма.</span>
					</p>
					<p class="class_stats">
						<b>Навыки:</b> Выберите 5 навыка из следующих:
						
						Атлетика, Акробатика, Лoвкость рук, Скрытность, Магия, История, Анализ, Природа, Религия, Уход за животными, Проницательность, Медицина, Внимательность, Выживание, Обман, Запугивание, Выступление, Убеждение
					</p>
				</div>
			</details>
			<details open>
				<summary class="h4"><span>Снаряжение</span></summary>
				<div class="content">
					<p>
						Вы начинаете со следующим снаряжением в дополнение к снаряжению, полученному за вашу предысторию: <span>Снаряжение и оружие из блока характеристик Напарника</span>
					</p>
				</div>
			</details>
		
		
			<details open>
				<summary class="h4" id="c351">
					<span>Бонусные владения</span>
					<span class="source-data tip" v-tippy="&#39;Котел Таши со всякой всячиной&#39;">TCE</span>
				</summary>
				<div class="content">
					<div class="caption_text">
						<span>1-й уровень, умение Напарник Эксперта</span>
						
					</div>
					<div><p>Напарник получает владение одним из следующих спасбросков по вашему выбору: <strong>Интеллект</strong>, <strong>Ловкость</strong> или <strong>Харизма</strong>.</p><p>В дополнение к этому напарник получает владение пятью навыками по вашему выбору, а также владение легкими доспехами. Если эксперт является гуманоидом либо имеет простое или воинское оружие в своём блоке статистики, он также получает владение всеми простыми видами оружия и двумя инструментами по вашему выбору.</p></div>
				</div>
			</details>
		
			<details open>
				<summary class="h4" id="c352">
					<span>Полезность</span>
					<span class="source-data tip" v-tippy="&#39;Котел Таши со всякой всячиной&#39;">TCE</span>
				</summary>
				<div class="content">
					<div class="caption_text">
						<span>1-й уровень, умение Напарник Эксперта</span>
						
					</div>
					<div><p>Напарник искусен в предоставлении своевременной помощи. Он может совершить <em>действие Помощь</em> в качестве <em>бонусного действия</em>.</p></div>
				</div>
			</details>
		
			<details open>
				<summary class="h4" id="c353">
					<span>Хитрое действие</span>
					<span class="source-data tip" v-tippy="&#39;Котел Таши со всякой всячиной&#39;">TCE</span>
				</summary>
				<div class="content">
					<div class="caption_text">
						<span>2-й уровень, умение Напарник Эксперта</span>
						
					</div>
					<div><p>Ловкость или быстрое мышление напарника позволяет ему действовать быстро.</p><p>Во время боя, в свой ход, он может совершить <em>бонусным действием</em> одно из следующих действий: <detail-tooltip type="screen"><a href="/screens/Dash.html">Рывок</a></detail-tooltip>, <detail-tooltip type="screen"><a href="/screens/Disengage.html">Отход</a></detail-tooltip> или <detail-tooltip type="screen"><a href="/screens/Hide.html">Засада</a></detail-tooltip>.</p></div>
				</div>
			</details>
		
			<details open>
				<summary class="h4" id="c362">
					<span>Компетентность</span>
					<span class="source-data tip" v-tippy="&#39;Котел Таши со всякой всячиной&#39;">TCE</span>
				</summary>
				<div class="content">
					<div class="caption_text">
						<span>3-й уровень, умение Напарник Эксперта</span>
						
					</div>
					<div><p>Выберите два навыка напарника, которыми он владеет. Бонус мастерства напарника удваивается для любой из проверок характеристики, которая использует любой из выбранных навыков.</p><p>На 15-м уровне выберите ещё два навыка напарника, которыми он владеет, и добавьте это преимущество ещё и к ним.</p></div>
				</div>
			</details>
		
			<details open>
				<summary class="h4" id="c364">
					<span>Увеличение характеристик</span>
					<span class="source-data tip" v-tippy="&#39;Котел Таши со всякой всячиной&#39;">TCE</span>
				</summary>
				<div class="content">
					<div class="caption_text">
						<span>4-й уровень, умение Напарник Эксперта</span>
						
					</div>
					<div><p>На 4-м, 8-м, 10-м, 12-м, 16-м и 19-м уровнях напарник повышает значение одной из характеристик по вашему выбору на 2, или двух характеристик по вашему выбору на 1.</p><p>Значение характеристики напарника не может стать выше 20, при использовании этого умения.</p></div>
				</div>
			</details>
		
			<details open>
				<summary class="h4" id="c371">
					<span>Скоординированный удар</span>
					<span class="source-data tip" v-tippy="&#39;Котел Таши со всякой всячиной&#39;">TCE</span>
				</summary>
				<div class="content">
					<div class="caption_text">
						<span>6-го уровня, умение Напарник Эксперта</span>
						
					</div>
					<div><p>Напарник умеет драться вместе с товарищем. Когда напарник использует своё умение <a href="#c352">Полезность</a>, чтобы помочь союзнику атаковать существо, то эта цель может находиться на расстоянии до 30 футов от напарника, и напарник может нанести цели дополнительные <dice-roller formula="2к6">2к6</dice-roller> урона в случае совершения успешной атаки до конца текущего хода. Дополнительный урон имеет тот же тип урона, которым наносится удар при атаке.</p></div>
				</div>
			</details>
		
			<details open>
				<summary class="h4" id="c372">
					<span>Увёртливость</span>
					<span class="source-data tip" v-tippy="&#39;Котел Таши со всякой всячиной&#39;">TCE</span>
				</summary>
				<div class="content">
					<div class="caption_text">
						<span>7-го уровня, умение Напарник Эксперта</span>
						
					</div>
					<div><p>Благодаря необычайной удаче напарник умеет избегать опасности.</p><p>Когда напарник подвергается эффекту, который позволяет ему совершить спасбросок <span class="saving_throw">Ловкости</span>, чтобы получить только половину урона, он вместо этого не получает никакого урона, если спасбросок был успешен, и только половину урона, если он был провален. Напарник не может использовать это умение, если <detail-tooltip type="screen"><a href="/screens/incapacitated.html">недееспособен</a></detail-tooltip>.</p></div>
				</div>
			</details>
		
			
		
			
		
			<details open>
				<summary class="h4" id="c373">
					<span>Вдохновляющая помощь</span>
					<span class="source-data tip" v-tippy="&#39;Котел Таши со всякой всячиной&#39;">TCE</span>
				</summary>
				<div class="content">
					<div class="caption_text">
						<span>11-й уровень, умение Напарник Эксперта</span>
						
					</div>
					<div><p>Когда напарник совершает действие <detail-tooltip type="screen"><a href="/screens/Help.html">Помощь</a></detail-tooltip>, существо, которому оказывают помощь, также получает дополнительные <dice-roller formula="1к6">1к6</dice-roller> к броску <dice-roller formula="к20">к20</dice-roller>.</p><p>Если этот бросок является броском атаки, существо может отказаться от добавления бонуса к броску, но если эта атака попадает, то существо может добавить вышеуказанный бонус к броску урона против одной цели.</p><p>На 20-м уровне бонус увеличивается до <dice-roller formula="2к6">2к6</dice-roller>.</p></div>
				</div>
			</details>
		
			
		
			<details open>
				<summary class="h4" id="c375">
					<span>Надёжный талант</span>
					<span class="source-data tip" v-tippy="&#39;Котел Таши со всякой всячиной&#39;">TCE</span>
				</summary>
				<div class="content">
					<div class="caption_text">
						<span>14-й уровень, умение Напарник Эксперта</span>
						
					</div>
					<div><p>Напарник усовершенствовал свои навыки до исключительного уровня. Всякий раз, когда напарник совершает проверку характеристики при использовании способности, которой он владеет, можете рассматривать выпавшее значение 9 и ниже при броске <dice-roller formula="к20">к20</dice-roller>, как 10.</p></div>
				</div>
			</details>
		
			<details open>
				<summary class="h4" id="c363">
					<span>Компетентность</span>
					<span class="source-data tip" v-tippy="&#39;Котел Таши со всякой всячиной&#39;">TCE</span>
				</summary>
				<div class="content">
					<div class="caption_text">
						<span>15-й уровень, умение Напарник Эксперта</span>
						
					</div>
					<div><p>На 15-м уровне выберите ещё два навыка напарника, которыми владеет напарник.</p><p>Бонус мастерства напарника удваивается для любой из проверок характеристики, которая использует любой из выбранных навыков.</p></div>
				</div>
			</details>
		
			
		
			<details open>
				<summary class="h4" id="c376">
					<span>Острый ум</span>
					<span class="source-data tip" v-tippy="&#39;Котел Таши со всякой всячиной&#39;">TCE</span>
				</summary>
				<div class="content">
					<div class="caption_text">
						<span>18-й уровень, умение Напарник Эксперта</span>
						
					</div>
					<div><p>Напарник получает владение одним из следующих спасбросков по вашему выбору: <strong>Интеллект</strong>, <strong>Мудрость</strong> или <strong>Харизма</strong>.</p></div>
				</div>
			</details>
		
			
		
			
		
		<span id="arc"/>
		
		<div>
			
		</div>
    