
		
			<details open class="feet_show mt-0">
				<summary class="h4 feet_show"><span>Хиты</span></summary>
				<div class="content">
					<p class="class_stats">
						<b>Кость Хитов:</b> <dice-roller formula="1к10"></dice-roller> за каждый уровень
					</p>
					<p class="class_stats">
						<b>Хиты на 1 уровне:</b> <span>10</span> + ваш модификатор <strong>Телосложения</strong>
					</p>
					<p class="class_stats">
						<b>Хиты на следующих уровнях:</b> <dice-roller formula="1к10"></dice-roller> (или 6) + модификатор <strong>Телосложения</strong>  за каждый уровень этого класса, после
						первого (минимум 1)
					</p>
				</div>
			</details>
		

		<div class="table-responsive class" >
			<table class="dnd5_table">
				<thead>
					<tr align="center">
						<th rowspan="2" style="width: 24px"><span class="tip" v-tippy="'Уровень в классе'">Ур.</span></th>
						<th rowspan="2" style="width: 24px"><span class="tip" v-tippy="'Бонус мастерства'">БМ</span></th>
						<th rowspan="2" class="align_left">Умения</th>
						
						
					</tr>
					
				</thead>
				<tbody>
					<tr align="center">
						<td align="center" >1</td>
						<td align="center" >+2</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/377"
              >
                <a
                  class="tip_scroll"
                  href="#c377"
                >бонусные владения, </a>
              </detail-tooltip>

              
							
              <detail-tooltip
                url="/classes/feature/378"
              >
                <a
                  class="tip_scroll"
                  href="#c378"
                >воинская роль</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >2</td>
						<td align="center" >+2</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/379"
              >
                <a
                  class="tip_scroll"
                  href="#c379"
                >второе дыхание (1)</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >3</td>
						<td align="center" >+2</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/381"
              >
                <a
                  class="tip_scroll"
                  href="#c381"
                >улучшенные критические попадания</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >4</td>
						<td align="center" >+2</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/382"
              >
                <a
                  class="tip_scroll"
                  href="#c382"
                >увеличение характеристик</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >5</td>
						<td align="center" >+3</td>
						<td class="align_left"></td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >6</td>
						<td align="center" >+3</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/388"
              >
                <a
                  class="tip_scroll"
                  href="#c388"
                >дополнительная атака (1)</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >7</td>
						<td align="center" >+3</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/390"
              >
                <a
                  class="tip_scroll"
                  href="#c390"
                >боеготовность</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >8</td>
						<td align="center" >+3</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/383"
              >
                <a
                  class="tip_scroll"
                  href="#c382"
                >увеличение характеристик</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >9</td>
						<td align="center" >+4</td>
						<td class="align_left"></td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >10</td>
						<td align="center" >+4</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/391"
              >
                <a
                  class="tip_scroll"
                  href="#c391"
                >улучшенная оборона</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >11</td>
						<td align="center" >+4</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/392"
              >
                <a
                  class="tip_scroll"
                  href="#c392"
                >упорство (1)</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >12</td>
						<td align="center" >+4</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/384"
              >
                <a
                  class="tip_scroll"
                  href="#c382"
                >увеличение характеристик</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >13</td>
						<td align="center" >+5</td>
						<td class="align_left"></td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >14</td>
						<td align="center" >+5</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/385"
              >
                <a
                  class="tip_scroll"
                  href="#c382"
                >увеличение характеристик</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >15</td>
						<td align="center" >+5</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/389"
              >
                <a
                  class="tip_scroll"
                  href="#c388"
                >дополнительная атака (2)</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >16</td>
						<td align="center" >+5</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/386"
              >
                <a
                  class="tip_scroll"
                  href="#c382"
                >увеличение характеристик</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >17</td>
						<td align="center" >+6</td>
						<td class="align_left"></td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >18</td>
						<td align="center" >+6</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/393"
              >
                <a
                  class="tip_scroll"
                  href="#c392"
                >упорство (2)</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >19</td>
						<td align="center" >+6</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/387"
              >
                <a
                  class="tip_scroll"
                  href="#c382"
                >увеличение характеристик</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
					<tr align="center">
						<td align="center" >20</td>
						<td align="center" >+6</td>
						<td class="align_left">
              <detail-tooltip
                url="/classes/feature/380"
              >
                <a
                  class="tip_scroll"
                  href="#c379"
                >второе дыхание (2)</a>
              </detail-tooltip>

              
							</td>
						
						
					</tr>
				</tbody>
			</table>
		</div>

		
			<details open>
				<summary class="h4"><span>Владение</span></summary>
				<div class="content">
					<p class="class_stats">
						<b>Доспехи:</b> <span>Все типы доспехов, и если он гуманоид или имеет простое или воинское оружие в своём блоке статистики, он также получает владение щитами</span>
					</p>
					<p class="class_stats">
						<b>Оружие:</b> <span>Простое и  воинское оружие</span>
					</p>
					<p class="class_stats">
						<b>Инструменты:</b> <span>Нет</span>
					</p>
					<p class="class_stats">
						<b>Спаcброски:</b> <span>Напарник получает владение одним из следующих спасбросков по вашему выбору: Сила, Ловкость или Телосложение.</span>
					</p>
					<p class="class_stats">
						<b>Навыки:</b> Выберите 2 навыка из следующих:
						
						Акробатика, Атлетика, Внимательность, Выживание, Запугивание, Природа, Уход за животными
					</p>
				</div>
			</details>
			<details open>
				<summary class="h4"><span>Снаряжение</span></summary>
				<div class="content">
					<p>
						Вы начинаете со следующим снаряжением в дополнение к снаряжению, полученному за вашу предысторию: <span>Снаряжение и оружие из блока характеристик Напарника</span>
					</p>
				</div>
			</details>
		
		
			<details open>
				<summary class="h4" id="c377">
					<span>Бонусные владения</span>
					<span class="source-data tip" v-tippy="&#39;Котел Таши со всякой всячиной&#39;">TCE</span>
				</summary>
				<div class="content">
					<div class="caption_text">
						<span>1-й уровень, умение Напарник Боеца</span>
						
					</div>
					<div><p>Напарник получает владение одним из следующих спасбросков по вашему выбору: <strong>Сила</strong>, <strong>Ловкость</strong> или <strong>Телосложение</strong>.</p><p>Кроме того, напарник получает владение двумя навыками по вашему выбору из следующего списка: <em><strong>Акробатика, Атлетика, Восприятие, Выживание, Запугивание, Природа </strong></em>или <em><strong>Уход за животными</strong>.</em></p><p>Напарник получает владение всеми типами доспехов, и если он гуманоид или имеет простое или воинское оружие в своём блоке статистики, он также получает владение щитами и всеми видами простого и воинского оружия.</p></div>
				</div>
			</details>
		
			<details open>
				<summary class="h4" id="c378">
					<span>Воинская роль</span>
					<span class="source-data tip" v-tippy="&#39;Котел Таши со всякой всячиной&#39;">TCE</span>
				</summary>
				<div class="content">
					<div class="caption_text">
						<span>1-й уровень, умение Напарник Боеца</span>
						
					</div>
					<div><p>Каждый боец сосредотачивает свои тренировки на нападении или защите. Выберите один из следующих вариантов:</p><div class="spell-list"><p><strong>Атакующий.</strong> Напарник получает бонус <strong>+2</strong> ко всем броскам атаки.</p><p><strong>Защитник.</strong> Напарник может использовать <em>реакцию</em>, для создания <span class="disadvantage">помехи</span> на бросок атаки существа в пределах 5 футов от него, если напарник не является целью атаки, и при условии, что напарник может видеть нападающего.</p></div></div>
				</div>
			</details>
		
			<details open>
				<summary class="h4" id="c379">
					<span>Второе дыхание</span>
					<span class="source-data tip" v-tippy="&#39;Котел Таши со всякой всячиной&#39;">TCE</span>
				</summary>
				<div class="content">
					<div class="caption_text">
						<span>2-й уровень, умение Напарник Боеца</span>
						
					</div>
					<div><p>Напарник может использовать <em>бонусное действие</em> в свой ход, чтобы восстановить хиты, равные <dice-roller formula="1к10">1к10</dice-roller> + уровень напарника в классе бойца. Использовав это умение, напарник должен завершить <detail-tooltip type="screen"><a href="/screens/short_rest">короткий</a></detail-tooltip> или&nbsp;<detail-tooltip type="screen"><a href="/screens/long_rest">продолжительный отдых</a></detail-tooltip>, чтобы получить возможность использовать умение снова.</p><p>Напарник может использовать это умение дважды между отдыхом, начиная с 20-го уровня.</p></div>
				</div>
			</details>
		
			<details open>
				<summary class="h4" id="c381">
					<span>Улучшенные критические попадания</span>
					<span class="source-data tip" v-tippy="&#39;Котел Таши со всякой всячиной&#39;">TCE</span>
				</summary>
				<div class="content">
					<div class="caption_text">
						<span>3-й уровень, умение Напарник Боеца</span>
						
					</div>
					<div><p>Броски атаки напарника считаются <detail-tooltip type="screen"><a href="/screens/critical_hit">критическим попаданием</a></detail-tooltip>&nbsp;при выпадении&nbsp;&laquo;19&raquo;&nbsp;или&nbsp;&laquo;20&raquo;&nbsp;на <dice-roller formula="к20">к20</dice-roller>.</p></div>
				</div>
			</details>
		
			<details open>
				<summary class="h4" id="c382">
					<span>Увеличение характеристик</span>
					<span class="source-data tip" v-tippy="&#39;Котел Таши со всякой всячиной&#39;">TCE</span>
				</summary>
				<div class="content">
					<div class="caption_text">
						<span>4-й уровень, умение Напарник Боеца</span>
						
					</div>
					<div><p>На 4-м, 8-м, 12-м, 14-м, 16-м и 19-м уровнях напарник повышает значение одной из характеристик по вашему выбору на 2, или двух характеристик по вашему выбору на 1.</p><p>Значение повышаемой характеристики напарника не может стать выше 20 с использованием этого умения.</p></div>
				</div>
			</details>
		
			<details open>
				<summary class="h4" id="c388">
					<span>Дополнительная атака</span>
					<span class="source-data tip" v-tippy="&#39;Котел Таши со всякой всячиной&#39;">TCE</span>
				</summary>
				<div class="content">
					<div class="caption_text">
						<span>6-го уровня, умение Напарник Боеца</span>
						
					</div>
					<div><p>Если напарник в свой ход совершает действие <em>Атака</em>, то он может совершить две атаки вместо одной.</p><p>Количество атак увеличивается до трех, когда напарник достигает 15-го уровня.</p><p>Если у напарника есть действие &laquo;Мультиатака&raquo;, он может использовать &laquo;Дополнительную атаку&raquo; или &laquo;Мультиатаку&raquo; в свой ход, но не то и другое одновременно.</p></div>
				</div>
			</details>
		
			<details open>
				<summary class="h4" id="c390">
					<span>Боеготовность</span>
					<span class="source-data tip" v-tippy="&#39;Котел Таши со всякой всячиной&#39;">TCE</span>
				</summary>
				<div class="content">
					<div class="caption_text">
						<span>7-го уровня, умение Напарник Боеца</span>
						
					</div>
					<div><p>Напарник совершает броски инициативы с <span class="advantage">преимуществом</span>.</p></div>
				</div>
			</details>
		
			
		
			<details open>
				<summary class="h4" id="c391">
					<span>Улучшенная оборона</span>
					<span class="source-data tip" v-tippy="&#39;Котел Таши со всякой всячиной&#39;">TCE</span>
				</summary>
				<div class="content">
					<div class="caption_text">
						<span>10-й уровень, умение Напарник Боеца</span>
						
					</div>
					<div><p>Класс Доспеха напарника увеличивается на 1.</p></div>
				</div>
			</details>
		
			<details open>
				<summary class="h4" id="c392">
					<span>Упорство</span>
					<span class="source-data tip" v-tippy="&#39;Котел Таши со всякой всячиной&#39;">TCE</span>
				</summary>
				<div class="content">
					<div class="caption_text">
						<span>11-й уровень, умение Напарник Боеца</span>
						
					</div>
					<div><p>Напарник может повторно совершить проваленный спасбросок, но он должен использовать новое выпавшее значение. Когда напарник использует это умение, то его нельзя использовать снова, пока напарник не закончит <detail-tooltip type="screen"><a href="/screens/long_rest">продолжительный отдых</a></detail-tooltip>.<br /><detail-tooltip type="screen"></detail-tooltip></p><p>Начиная с 18-го уровня, напарник может использовать это умение дважды, после чего ему потребуется совершить <detail-tooltip type="screen"><a href="/screens/long_rest">продолжительный отдых</a></detail-tooltip>, чтобы использовать умение снова.</p></div>
				</div>
			</details>
		
			
		
			
		
			
		
			
		
			
		
			
		
			
		
		<span id="arc"/>
		
		<div>
			
		</div>
    