{% extends "base_list.html" %}

{% block title %}Список рас{% endblock %}
{% block heading %}Список рас{% endblock %}

{% block list %}
<div id="list-container" class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    {% for race in items %}
    <a href="{{ race.filename }}" class="block p-4 bg-white rounded-xl shadow hover:bg-blue-50 transition">
        <h2 class="text-lg sm:text-xl font-semibold">
            {{ race.name.ukr or race.name.rus or race.name.eng }}
        </h2>
        <p class="text-sm text-gray-500">{{ race.name.eng }}</p>
    </a>
    {% endfor %}
</div>
{% endblock %}
