{% extends "base_list.html" %}

{% block title %}Список зброї{% endblock %}
{% block heading %}Зброя{% endblock %}

{% block list %}
<ul id="list-container" class="space-y-4">
    {% for weapon in items %}
    <li>
        <a href="{{ weapon.filename }}" class="block p-4 bg-white rounded-lg shadow hover:bg-blue-50 transition">
            <h2 class="text-lg sm:text-xl font-semibold">{{ weapon.name.rus }} ({{ weapon.name.eng }})</h2>
            <p class="text-sm text-gray-600 mt-1">{{ weapon.type.name }} — {{ weapon.damage.dice }} {{ weapon.damage.type }}</p>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
